.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top: -10px;
  }
  
  .links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
  }
  
  .links a{
    color: #8ea6bb;
    text-decoration: none;
  }
  
  .links a:hover{
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .gradient-div{
    position: absolute;
    width: 800px;
    height: 150px;
    margin: auto;
    background-color: #18b2de;
    filter: blur(90px);
    z-index: -1;
    top: -130px;
  }

  .active{
    color: white !important;
  }