.profile-card{
    width: fit-content;
    height: fit-content;
    background: linear-gradient(177.7deg,
    rgba(58, 129, 191, 0.3)1.63%,
    rgba(65, 48, 90, 0.009)148.18%
    );
    border-radius: 1rem;
    padding: 0.5rem;
    opacity: 0.7;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}